.flex{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
}

.container{
  display: flex;
  background-color: white;
  color: red;
  flex-flow: row wrap;
  height: 80vh;
  width: 85vw;
  justify-content: space-between;
  margin: 2rem;
  -webkit-box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
	-moz-box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
	box-shadow:0 0 10px rgba(0, 0, 0, 0.3);
}

.info{
 width: 60%;
 padding: 1rem;
 color: black;
 font-weight: normal;
 margin-top: -3rem;
}

.title{
  font-size: 6rem;
  color: #efefef;
  text-transform: lowercase;
  padding: 0 2rem;
  margin-bottom: -3rem;
}
.first{
  margin-top: -2rem;
}


p{
  padding: 0 2rem;
  font-weight: 100;
  margin-bottom: 1.5rem;
}

.right{
  text-align: right;
}


.image{
  width: 35%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right center;
}

@media screen and (max-width: 1137px){
  .title{
    font-size:4rem;
  }
}

@media screen and (max-width: 988px){
  .container{
    height: 100%;
  }
}

@media screen and (max-width: 700px){
  .image{
    display: none;
  }
  .info{
    width: 100%;
    text-align: justify;
  }

  .title{
    font-size:3rem;
  }

  .first{
    margin-top: -.4rem;
  }
}

@media screen and (max-width: 500px){
  title{
    font-size: 40px;
  }
}